* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
}


.main-section {
    padding: 40px 0;
}


.fixed-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    background-color: violet;
    height: 80vh; /* 700px; */
    position: relative;
}

.wrapper {
    background-color: #fff;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
}


.block {
    background-color: green;
    display: inline-block;
    height: 100px;
    margin: 10px;
}


.text {
    color: white;
    margin: 0;
    line-height: 100px;
    text-align: center;
    padding: 0 5px;
    margin: 0;
}